{% extends 'base.html.twig' %}

{% block title %}Semestre{% endblock %}

{% block body %}
    <h1>Semestre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ semestre.id }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ semestre.formation }}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                <td>{{ semestre.semestre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('semestre_index') }}">back to list</a>

    <a href="{{ path('semestre_edit', {'id': semestre.id}) }}">edit</a>

    {{ include('semestre/_delete_form.html.twig') }}
{% endblock %}
